<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ProductVersion="0.9.2" ?>
  <?define ProductVersionTitle="0.9.2.0" ?>
  <?define VisualStudioRegistryRoot2008 = "Software\Microsoft\VisualStudio\9.0" ?>
  <?define VisualStudioRegistryRoot2010 = "Software\Microsoft\VisualStudio\10.0" ?>
  <?define UpgradeCode="{EB7EA168-9F1A-45EF-8EDB-06AC4E4C69D6}"?>
  <Product Id="FDEC07EB-0817-4B10-850C-3DDC05AAD540" Name="Bistro $(var.ProductVersionTitle)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="Hill30" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <Upgrade Id="$(var.UpgradeCode)">
      <!--<UpgradeVersion Minimum="$(var.ProductVersion)" IncludeMinimum="no" OnlyDetect="yes" Language="1033" Property="NEWPRODUCTFOUND" />-->
      <UpgradeVersion Minimum="0.9.0" IncludeMinimum="yes" Maximum="$(var.ProductVersion)" IncludeMaximum="yes" Language="1033" Property="UPGRADEFOUND" />
    </Upgrade>
    <PropertyRef Id="NETFRAMEWORK35_SP_LEVEL" />
    <Property Id="ALLUSERS" Value="1" />
    <Property Id="ENVDIR_2008">
      <RegistrySearch Id="RL_EnvironmentDir_2008" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\Setup\VS" Name="EnvironmentDirectory" Type="directory" />
    </Property>
    <Property Id="ENVDIR_2010">
      <RegistrySearch Id="RL_EnvironmentDir_2010" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\10.0\Setup\VS" Name="EnvironmentDirectory" Type="directory" />
    </Property>
    <Property Id="EXTENSIONSHILL30FILES">
      <DirectorySearch Id="hill30filessearch" Path="[LocalAppDataFolder]\Microsoft\VisualStudio\10.0\Extensions\Hill 30\" />
    </Property>
    <Property Id="VS2008FOUND">
      <RegistrySearch Id="VS2008found" Type="raw" Root="HKLM" Key="Software\Microsoft\VisualStudio\9.0" Name="InstallDir" />
    </Property>
    <Property Id="VS2008ITEMTEMPLATESLOCATION">
      <RegistrySearch Id="UserItemTemplatesLocation2008" Type="raw" Root="HKCU" Key="Software\Microsoft\VisualStudio\9.0" Name="UserItemTemplatesLocation" />
    </Property>
    <Property Id="VS2008PROJECTTEMPLATESLOCATION">
      <RegistrySearch Id="UserProjectTemplatesLocation2008" Type="raw" Root="HKCU" Key="Software\Microsoft\VisualStudio\9.0" Name="UserProjectTemplatesLocation" />
    </Property>
    <Property Id="VS2010FOUND">
      <RegistrySearch Id="VS2010found" Type="raw" Root="HKLM" Key="Software\Microsoft\VisualStudio\10.0" Name="InstallDir" />
    </Property>
    <Property Id="VS2010ITEMTEMPLATESLOCATION">
      <RegistrySearch Id="UserItemTemplatesLocation2010" Type="raw" Root="HKCU" Key="Software\Microsoft\VisualStudio\10.0" Name="UserItemTemplatesLocation" />
    </Property>
    <Property Id="VS2010PROJECTTEMPLATESLOCATION">
      <RegistrySearch Id="UserProjectTemplatesLocation2010" Type="raw" Root="HKCU" Key="Software\Microsoft\VisualStudio\10.0" Name="UserProjectTemplatesLocation" />
    </Property>
    <Property Id="DEVENV_EXE_PATH2008">
      <RegistrySearch Id="RegSearch_DevenvExe_Path2008" Root="HKLM" Key="$(var.VisualStudioRegistryRoot2008)\Setup\VS" Name="EnvironmentPath" Type="raw" />
    </Property>
    <Property Id="DEVENV_EXE_PATH2010">
      <RegistrySearch Id="RegSearch_DevenvExe_Path2010" Root="HKLM" Key="$(var.VisualStudioRegistryRoot2010)\Setup\VS" Name="EnvironmentPath" Type="raw" />
    </Property>
    <Condition Message="This application requires Visual Studio 2008. Please install the Visual Studio 2008 then run this installer again.">Installed OR VS2008FOUND</Condition>
    <Condition Message="This application requires .NET Framework 3.5SP1. Please install the .NET Framework 3.5SP1 then run this installer again."><![CDATA[Installed OR (NETFRAMEWORK35_SP_LEVEL and NOT NETFRAMEWORK35_SP_LEVEL = "#0")]]></Condition>
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" Overridable="yes" />
    <WixVariable Id="WixUIBannerBmp" Value="bitmaps\bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="bitmaps\dlgbmp.bmp" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="HILL30FILES" Name="Hill30">
          <Directory Id="INSTALLDIR" Name="Bistro">
            <Component Id="BistroAssemblies" Guid="EA80C8A8-63BE-4D5E-BACB-9FA941CD0C7C">
              <RemoveFolder Id="RemoveMain" Directory="INSTALLDIR" On="uninstall" />
              <File Id="Bistro.Core.dll" Name="$(var.Bistro.Core.TargetFileName)" Source="lib\Bistro.Core.dll" DiskId="1" />
              <File Id="Bistro.Extensions.dll" Name="$(var.Bistro.Extensions.TargetFileName)" Source="$(var.Bistro.Extensions.TargetPath)" DiskId="1" />
              <File Id="Bistro.FSharpExtensions.dll" Name="Bistro.FSharpExtensions.dll" Source="lib\Bistro.FSharpExtensions.dll" />
              <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="..\lib\Newtonsoft.Json.dll" />
              <File Id="NDjango.BistroIntegration.dll" Name="$(var.BistroIntegration.TargetFileName)" Source="$(var.BistroIntegration.TargetPath)" />
              <File Id="NDJANGO" Name="NDjangoSetup.msi" Source="lib\NDjangoSetupExtended.msi" />
              <File Id="BistroDesigner" Name="Bistro.Designer.dll" Source="lib\Bistro.Designer.dll" DiskId="1" />
            </Component>
            <Component Id="ReadmeBistro" Guid="2F2DC3B8-A256-4AF2-B1D9-20C89AF5645A">
              <File Id="ReadmeBistro" Name="Readme.txt" ShortName="README.TXT" Source="Readme.txt" />
            </Component>
            <Component Id="ProjectExtender" Guid="AA80C8A8-63BE-4D5E-BACB-9FA941CD0C7C">
              <File Id="ProjectExtender.dll" Name="ProjectExtender.dll" Source="lib\ProjectExtender.dll" DiskId="1" />
            </Component>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ENVDIR_2008" Name="EnvDir">
        <Directory Id="ProjectTemplates2008" Name="ProjectTemplates">
          <Directory Id="ProjectTemplatesBistro2008" Name="Bistro">
            <Component Id="ProjectTemplates2008" Guid="7F1095EE-D392-4596-B931-21CB35374251">
              <RemoveFolder Id="ProjectTemplatesBistro2008" Directory="ProjectTemplatesBistro2008" On="uninstall" />
              <RegistryValue Root="HKCU" Key="Software\Hill30\Bistro Designer\[ProductVersion]" Name="installed" Type="integer" Value="1" KeyPath="yes" />
              <File Id="FSharp2008.zip" Name="FSharp2008.zip" Source="Templates\FSharp.zip" />
              <File Id="BistroProject2008.zip" Name="BistroProject2008.zip" Source="Templates\VS2008\BistroProject.zip" />
              <File Id="BistroNHibernate2008.zip" Name="BistroNHibernate2008.zip" Source="Templates\VS2008\BistroNHibernate.zip" />
            </Component>
          </Directory>
        </Directory>
        <Directory Id="ItemTemplates2008" Name="ItemTemplates">
          <Directory Id="ItemTemplatesBistro2008" Name="Bistro">
            <Component Id="InstalledItemTemplates2008" Guid="B67DD6E5-F6A5-49E8-853D-BE4D05CA8005">
              <RemoveFolder Id="ItemTemplatesBistro2008" Directory="ItemTemplatesBistro2008" On="uninstall" />
              <RegistryValue Root="HKCU" Key="Software\Hill30\Bistro Designer\[ProductVersion]" Name="installed" Type="integer" Value="1" KeyPath="yes" />
              <File Id="BrowserFile2008.zip" Name="BrowserFile2008.zip" Source="Templates\ItemTemplates\Bistro\BrowserFile.zip" />
              <File Id="FSharpControllers2008.zip" Name="FSharpControllers2008.zip" Source="Templates\ItemTemplates\Bistro\FSharpControllers.zip" />
              <File Id="JScript2008.zip" Name="JScript2008.zip" Source="Templates\ItemTemplates\Bistro\JScript.zip" />
              <File Id="NDjango2008.zip" Name="NDjango2008.zip" Source="Templates\ItemTemplates\Bistro\NDjango.zip" />
              <File Id="StyleSheet2008.zip" Name="StyleSheet2008.zip" Source="Templates\ItemTemplates\Bistro\StyleSheet.zip" />
              <File Id="Text2008.zip" Name="Text2008.zip" Source="Templates\ItemTemplates\Bistro\Text.zip" />
              <File Id="WebConfig2008.zip" Name="WebConfig2008.zip" Source="Templates\ItemTemplates\Bistro\WebConfig.zip" />
              <File Id="WebHTMLPage2008.zip" Name="WebHTMLPage2008.zip" Source="Templates\ItemTemplates\Bistro\WebHTMLPage.zip" />
            </Component>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="VS2008ITEMTEMPLATESLOCATION">
        <Directory Id="vs2008Web1" Name="Web">
          <Component Id="CustomItemTemplates2008" Guid="8EDB5431-75F6-4BF9-A183-BC6ACCBC90BD">
            <RemoveFolder Id="vs2008Web1" Directory="vs2008Web1" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\Hill30\Bistro\[ProductVersion]" Name="installed" Type="integer" Value="1" KeyPath="yes" />
            <File Id="BistroController2008" Name="BistroController2008.zip" Source="Templates\BistroController.zip" />
          </Component>
        </Directory>
      </Directory>
      <Component Id="RegistryDesignerVSX2008" DiskId="1" Guid="5F720FC6-EC7C-44E2-BEE4-8130CE1B3F09">
        <?include BistroDesigner2008Reg.wxi?>
      </Component>
      <Component Id="RegistryProjectExtender" DiskId="1" Guid="6F720FC6-EC7C-44E2-BEE4-8130CE1B3F09">
        <?include ExtenderReg.wxi?>
      </Component>
    </Directory>

    <Feature Id="ProductFeature" Level="1">
      <ComponentRef Id="ProjectExtender" />
      <ComponentRef Id="BistroAssemblies" />
      <ComponentRef Id="ReadmeBistro" />
    </Feature>

    <Feature Id="Registry2008" Title="Visual Studio 2008 integration" Level="1">
      <ComponentRef Id="ProjectTemplates2008" />
      <ComponentRef Id="InstalledItemTemplates2008" />
      <ComponentRef Id="CustomItemTemplates2008" />
      <ComponentRef Id="RegistryDesignerVSX2008" />
      <ComponentRef Id="RegistryProjectExtender" />
    </Feature>

    <Binary Id="EditTemplates" SourceFile="versionWriterFull.exe" />
    <Property Id="WixShellExecTarget" Value="[INSTALLDIR]\NDjangoSetup.msi" />
    <Property Id="NDJANGONEEDED" Value="Yes"/>
    <CustomAction Id="InstallNDjango" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
    <CustomAction Id="CA_DevenvSetup2008" Property="DEVENV_EXE_PATH2008" ExeCommand="/setup" Impersonate="no" Execute="commit" />
    <CustomAction BinaryKey="EditTemplates" ExeCommand="&quot;[ProjectTemplatesBistro2008]BistroProject2008.zip&quot;" Id="EditBistroProject2008CustomAction" Return="ignore" Execute="commit"/>
    <CustomAction BinaryKey="EditTemplates" ExeCommand="&quot;[ProjectTemplatesBistro2008]BistroNHibernate2008.zip&quot;" Id="EditBistroNHibernate2008CustomAction" Return="ignore" Execute="commit"/>
    <CustomAction BinaryKey="EditTemplates" ExeCommand="&quot;[ProjectTemplatesBistro2008]FSharp2008.zip&quot;" Id="EditFSharp2008CustomAction" Return="ignore" Execute="commit"/>
    <InstallExecuteSequence>
      <!--It is important to update templates before calling devenv /setup-->
      <Custom Action="EditBistroProject2008CustomAction" After="WriteRegistryValues"><![CDATA[Not Installed OR (Installer AND REMOVE <> "ALL")]]></Custom>
      <Custom Action="EditBistroNHibernate2008CustomAction" After="EditBistroProject2008CustomAction"><![CDATA[Not Installed OR (Installer AND REMOVE <> "ALL")]]></Custom>
      <Custom Action="EditFSharp2008CustomAction" After="EditBistroNHibernate2008CustomAction"><![CDATA[Not Installed OR (Installer AND REMOVE <> "ALL")]]></Custom>
      <Custom Action="CA_DevenvSetup2008" After="EditFSharp2008CustomAction" />
      <Custom Action="InstallNDjango" After="InstallFinalize"><![CDATA[(Not Installed OR (Installer AND REMOVE <> "ALL")) AND NDJANGONEEDED]]></Custom>
      <RemoveExistingProducts After="InstallInitialize" />
    </InstallExecuteSequence>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    
    <!--********UI********-->
    <UI>
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="InstallDir" />
      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
      <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <Publish Dialog="WelcomeDlgCustom" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlgCustom">1</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="InstallDirDlgCustom">LicenseAccepted = "1"</Publish>
      <Publish Dialog="InstallDirDlgCustom" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
      <Publish Dialog="InstallDirDlgCustom" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlgCustom" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlgCustom" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
      <Publish Dialog="InstallDirDlgCustom" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID="1"]]></Publish>
      <Publish Dialog="InstallDirDlgCustom" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlgCustom" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallDirDlgCustom" Order="1">NOT Installed</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed</Publish>
      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
      <Property Id="ARPNOMODIFY" Value="1" />
      <Dialog Id="WelcomeDlgCustom" Width="370" Height="270" Title="!(loc.WelcomeDlg_Title)">
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="234" TabSkip="no" Text="!(loc.WelcomeDlgBitmap)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUIBack)" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Description" Type="Text" X="135" Y="80" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="!(loc.WelcomeDlgDescription)" />
        <Control Id="Title" Type="Text" X="135" Y="20" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="!(loc.WelcomeDlgTitle)" />
      </Dialog>
      <Dialog Id="InstallDirDlgCustom" Width="370" Height="270" Title="!(loc.InstallDirDlg_Title)">
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.InstallDirDlgDescription)" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.InstallDirDlgTitle)" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="FolderLabel" Type="Text" X="20" Y="60" Width="290" Height="30" NoPrefix="yes" Text="!(loc.InstallDirDlgFolderLabel)" />
        <Control Id="Folder" Type="PathEdit" X="20" Y="100" Width="320" Height="18" Property="WIXUI_INSTALLDIR" Indirect="yes">
        </Control>
        <Control Id="ChangeFolder" Type="PushButton" X="20" Y="120" Width="56" Height="17" Text="!(loc.InstallDirDlgChange)">
        </Control>
        <Control Type="CheckBox" Id="NDjangoCheckBox" Width="230" Height="17" X="22" Y="169" Property="NDJANGONEEDED" CheckBoxValue="Yes" Text="Install NDjango">
          <Condition Action="enable"><![CDATA[ VS2008FOUND <> NULL ]]></Condition>
          <Condition Action="disable"><![CDATA[ VS2008FOUND = NULL ]]></Condition>
        </Control>
      </Dialog>
      <InstallUISequence>
        <Show Dialog="WelcomeDlgCustom" Before="ProgressDlg">NOT Installed</Show>
      </InstallUISequence>
    </UI>
    <UIRef Id="WixUI_Common" />
  </Product>
</Wix>